/AAProject-LW-JDW/AAProject-LW-JDW-ejb/build/
/AAProject-LW-JDW/AAProject-LW-JDW-ejb/dist/
/ProjectLib/build/
/ProjectLib/dist/
/AAProject-LW-JDW/build/
/AAProject-LW-JDW/AAProject-LW-JDW-war/build/
/AAProject-LW-JDW/AAProject-LW-JDW-war/dist/
/ProjectClient/build/
/ProjectClient/dist/